body {
    margin-bottom: 4rem;
}

.login-tabs {
    max-width: 450px;
}

.nav-link.btn {
    border-radius: 0;
}

#pills-past ul {
    cursor: pointer;
}

#pills-past ul li:hover {
    background-color: aliceblue;
    font-weight: bold;
}

.modal-body dd {
    white-space: pre-wrap;
}
